MindTheGap/Service References/LDBStaffWebService/RTTI_2017-10-01_ldbsv_common_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/commontypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/commontypes" id="RTTI_2017-10-01_ldbsv_common_types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ToiletType">
    <xs:annotation>
      <xs:documentation>An indication of the availability of a toilet in a coach in a train formation. E.g. "Unknown", "None" , "Standard" or "Accessible". Note that other values may be supplied in the future without a schema change.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ToiletStatus">
    <xs:annotation>
      <xs:documentation>The service status of a toilet in coach formation data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="InService" />
      <xs:enumeration value="NotInService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ToiletAvailabilityType">
    <xs:annotation>
      <xs:documentation>The availability of a toilet in coach formation data. If no availability is supplied, it should be assumed to have the value "Unknown".</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="tns:ToiletType">
        <xs:attribute default="InService" name="status" type="tns:ToiletStatus" use="optional">
          <xs:annotation>
            <xs:documentation>The service status of this toilet. E.g. "Unknown", "InService" or "NotInService".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>