MindTheGap/Service References/LDBStaffWebService/RTTI_2017-10-01_ldbsv_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ct="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" xmlns:ct2015="http://thalesgroup.com/RTTI/2015-11-27/ldbsv/commontypes" xmlns:ct201702="http://thalesgroup.com/RTTI/2017-02-02/ldbsv/commontypes" xmlns:ct201710="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/commontypes" xmlns:svt2016="http://thalesgroup.com/RTTI/2016-02-16/ldbsv/types" xmlns:svt2014="http://thalesgroup.com/RTTI/2014-02-20/ldbsv/types" xmlns:tns="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/types" id="RTTI_2017-10-01_ldbsv_types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="rtti_2007-10-10_ldb_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" />
  <xs:import schemaLocation="rtti_2015-11-27_ldbsv_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2015-11-27/ldbsv/commontypes" />
  <xs:import schemaLocation="rtti_2017-02-02_ldbsv_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2017-02-02/ldbsv/commontypes" />
  <xs:import schemaLocation="rtti_2017-10-01_ldbsv_common_types.xsd" namespace="http://thalesgroup.com/RTTI/2017-10-01/ldbsv/commontypes" />
  <xs:import schemaLocation="rtti_2014-02-20_ldbsv_types.xsd" namespace="http://thalesgroup.com/RTTI/2014-02-20/ldbsv/types" />
  <xs:import schemaLocation="rtti_2016-02-16_ldbsv_types.xsd" namespace="http://thalesgroup.com/RTTI/2016-02-16/ldbsv/types" />
  <xs:complexType name="StationBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a departure board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2016:StationHeaderQos">
        <xs:sequence>
          <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfServiceItems">
            <xs:annotation>
              <xs:documentation>A list of train services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfServiceItems">
            <xs:annotation>
              <xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfServiceItems">
            <xs:annotation>
              <xs:documentation>A list of ferry services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StationBoardWithDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of a "WithDetails" departure board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2016:StationHeaderTrunc">
        <xs:sequence>
          <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfServiceItemsWithLocations">
            <xs:annotation>
              <xs:documentation>A list of train services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfServiceItemsWithLocations">
            <xs:annotation>
              <xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfServiceItemsWithLocations">
            <xs:annotation>
              <xs:documentation>A list of ferry services for this departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeparturesBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a next/fastest departures board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2014:BaseStationBoard">
        <xs:sequence>
          <xs:element name="departures" type="tns:ArrayOfDepartureItems">
            <xs:annotation>
              <xs:documentation>A list of next/fastest services for this departures board.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeparturesBoardWithDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of a "WithDetails" next/fastest departures board for a specific location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2014:BaseStationBoard">
        <xs:sequence>
          <xs:element name="departures" type="tns:ArrayOfDepartureItemsWithLocations">
            <xs:annotation>
              <xs:documentation>A list of next/fastest services for this departures board.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of an individual service obtained from a departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2016:ServiceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="formation" type="tns:ArrayOfFormationLocations">
            <xs:annotation>
              <xs:documentation>A list of the train formation data at each non-cancelled calling point of the train running the schedule.
If any formation data is available at any of the non-cancelled calling points in the schedule then a fmloc element will be supplied for all non-cancelled calling points in the schedule. If no actual formation data is available at a calling point, the fmloc element will be empty.
If no formation data is available at any of the non-cancelled calling points in the schedule then the formation element will be absent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoricDepartureBoard">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2014:BaseStationBoard">
        <xs:sequence>
          <xs:element name="historicDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The historic date and time of the requested departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="departureDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date and time of the requested departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="trainServices" type="tns:ArrayOfHistoricServiceItems">
            <xs:annotation>
              <xs:documentation>A list of train services for this historic departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="busServices" type="tns:ArrayOfHistoricServiceItems">
            <xs:annotation>
              <xs:documentation>A list of scheduled or replacement rail bus services for this historic departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ferryServices" type="tns:ArrayOfHistoricServiceItems">
            <xs:annotation>
              <xs:documentation>A list of ferry services for this historic departure board.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoricServiceDetails">
    <xs:annotation>
      <xs:documentation>A structure containing details of a historic service details.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2016:HistoricServiceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="formation" type="tns:ArrayOfFormationLocations">
            <xs:annotation>
              <xs:documentation>A list of the train formation data at each non-cancelled calling point of the train running the schedule.
If any formation data is available at any of the non-cancelled calling points in the schedule then a fmloc element will be supplied for all non-cancelled calling points in the schedule. If no actual formation data is available at a calling point, the fmloc element will be empty.
If no formation data is available at any of the non-cancelled calling points in the schedule then the formation element will be absent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="svt2016:BaseServiceItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="formation" type="tns:FormationData">
            <xs:annotation>
              <xs:documentation>The formation data of the train at this location (if known).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseServiceItemWithEndPoints">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a departure board, with the origins and destinations.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="origin" type="svt2014:ArrayOfEndPointLocations">
            <xs:annotation>
              <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="destination" type="svt2014:ArrayOfEndPointLocations">
            <xs:annotation>
              <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="currentOrigins" type="svt2014:ArrayOfEndPointLocations">
            <xs:annotation>
              <xs:documentation>A list of origins of this service. Note that a service may have more than one origin.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="currentDestinations" type="svt2014:ArrayOfEndPointLocations">
            <xs:annotation>
              <xs:documentation>A list of destinations of this service. Note that a service may have more than one destination.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="ServiceItemProperties">
    <xs:annotation>
      <xs:documentation>Common properties in a ServiceItem.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cancelReason" type="ct2015:ReasonCodeWithLocation">
        <xs:annotation>
          <xs:documentation>The cancellation reason for this service (if any).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="delayReason" type="ct2015:ReasonCodeWithLocation">
        <xs:annotation>
          <xs:documentation>The delay reason for this service (if any).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="category" type="ct2015:TrainCategoryCode">
        <xs:annotation>
          <xs:documentation>The ITPS Train Category code for this service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="" name="activities" type="ct2015:ActivityCodes">
        <xs:annotation>
          <xs:documentation>The ITPS activity codes for this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="0" name="length" type="ct2015:TrainLength">
        <xs:annotation>
          <xs:documentation>The train length (number of units) at this location. If not supplied, or zero, the length is unknown.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isReverseFormation" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if the service is operating in the reverse of its normal formation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="detachFront" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if the service detaches units from the front at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="ServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceItemWithEndPoints">
        <xs:group ref="tns:ServiceItemProperties" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceItemWithLocations">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a WithDetails departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="previousLocations" type="svt2016:ArrayOfServiceItemLocations">
            <xs:annotation>
              <xs:documentation>A list of the previous locations in the service. Note that only locations in this individual service are returned. Locations in associated services are not returned.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="subsequentLocations" type="svt2016:ArrayOfServiceItemLocations">
            <xs:annotation>
              <xs:documentation>A list of the subsequent locations in the service. Note that only locations in this individual service are returned. Locations in associated services are not returned.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DepartureItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a basic next/fastest departures board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="service" type="tns:ServiceItem">
        <xs:annotation>
          <xs:documentation>The details of the next/fastest service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="crs" type="ct:CRSType" use="required">
      <xs:annotation>
        <xs:documentation>The CRS code from the requested filterList for which this service is the next/fastest departure.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DepartureItemWithLocations">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a "WithDetails" next/fastest departures board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="service" type="tns:ServiceItemWithLocations">
        <xs:annotation>
          <xs:documentation>The details of the next/fastest service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="crs" type="ct:CRSType" use="required">
      <xs:annotation>
        <xs:documentation>The CRS code from the requested filterList for which this service is the next/fastest departure.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:group name="HistoricServiceItemProperties">
    <xs:annotation>
      <xs:documentation>Common properties in a HistoricServiceItem.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" default="false" name="isLateReinstated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>A boolean to indicate this train is late reinstated at this location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" default="false" name="isDeleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>If present with the value "true" then the service is deleted. Refer to the documentation for the meaning of deleted services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cancelReason" type="ct2015:ReasonCodeType">
        <xs:annotation>
          <xs:documentation>The cancellation reason for this service (if any).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="delayReason" type="ct2015:ReasonCodeType">
        <xs:annotation>
          <xs:documentation>The delay reason for this service (if any).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="HistoricServiceItem">
    <xs:annotation>
      <xs:documentation>An individual service's summary details for display on a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceItemWithEndPoints">
        <xs:group ref="tns:HistoricServiceItemProperties" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FormationData">
    <xs:annotation>
      <xs:documentation>Formation data at a calling point.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="avgLoading" type="ct201702:LoadingValue">
        <xs:annotation>
          <xs:documentation>Average Loading of the train as a whole at this Calling Point. This is a fixed value that is based on long-term averages and does not vary according to real-time actual loading.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="coaches" type="tns:ArrayOfCoaches">
        <xs:annotation>
          <xs:documentation>A list of coaches that comprise the train formation at this calling point. Will be absent if the formation is unknown.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="ct2015:SourceType" use="optional">
      <xs:annotation>
        <xs:documentation>The source of the formation data.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sourceInstance" type="ct2015:SourceInstanceType" use="optional">
      <xs:annotation>
        <xs:documentation>The instance ID of the source of the formation data.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocFormationData">
    <xs:annotation>
      <xs:documentation>Formation data with the Tiploc code of the calling point where it applies. The contents may be empty if there is no known formation data at the identified calling point.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FormationData">
        <xs:attribute name="tiploc" type="ct:TiplocType" use="required">
          <xs:annotation>
            <xs:documentation>The TIPLOC of this Calling Point in the schedule.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CoachData">
    <xs:annotation>
      <xs:documentation>The data for an individual coach in a formation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="coachClass" type="ct201702:CoachClassType">
        <xs:annotation>
          <xs:documentation>The class of a coach, where known, e.g. First, Standard, Mixed. Other classes may be introduced in future without a schema change.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="toilet" type="ct201710:ToiletAvailabilityType">
        <xs:annotation>
          <xs:documentation>The availability of a toilet in this coach. E.g. "Unknown", "None" , "Standard" or "Accessible". Note that other values may be supplied in the future without a schema change. If no toilet availability is supplied then it should be assumed to be "Unknown".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="loading">
        <xs:annotation>
          <xs:documentation>The currently estimated passenger loading value for this coach, where known.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ct201702:LoadingValue">
              <xs:attribute name="source" type="ct2015:SourceType" use="optional">
                <xs:annotation>
                  <xs:documentation>The source of the loading value.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="sourceInstance" type="ct2015:SourceInstanceType" use="optional">
                <xs:annotation>
                  <xs:documentation>The instance ID of the source of the loading value.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="number" type="ct201702:CoachNumberType" use="required">
      <xs:annotation>
        <xs:documentation>The number/identifier for this coach, e.g. "A" or "12".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceItems">
    <xs:annotation>
      <xs:documentation>A list of services on a departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfServiceItemsWithLocations">
    <xs:annotation>
      <xs:documentation>A list of services on a departure board with details of their calling points.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceItemWithLocations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDepartureItems">
    <xs:annotation>
      <xs:documentation>A list of next/fastest services on a departures board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destination" type="tns:DepartureItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDepartureItemsWithLocations">
    <xs:annotation>
      <xs:documentation>A list of next/fastest services with calling points on a departures board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destination" type="tns:DepartureItemWithLocations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHistoricServiceItems">
    <xs:annotation>
      <xs:documentation>A list of services on a historic departure board.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:HistoricServiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFormationLocations">
    <xs:annotation>
      <xs:documentation>A list of the train formation data at each non-cancelled calling point of the train running the schedule.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="unbounded" name="fmloc" type="tns:LocFormationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCoaches">
    <xs:annotation>
      <xs:documentation>A list of coaches in a train formation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="coach" type="tns:CoachData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>